<div class="container">
    <form class="row" [formGroup]="formGroup">
        <div class="col-6 mb-3">
            <label for="">First Name</label>
            <input type="text" class="form-control" [ngClass]="{'invalid': fName.touched && fName.errors}" [formControl]="fName">
            <div *ngIf="fName.touched && fName.errors" class="error">
                Please enter first name.
            </div>
        </div>
        <div class="col-6 mb-3">
            <label for="">Last Name</label>
            <input type="text" class="form-control" [ngClass]="{'invalid': lName.touched && lName.errors}" [formControl]="lName">
            <div *ngIf="lName.touched && lName.errors" class="error">
                Please enter last name.
            </div>
        </div>
        <div class="col-6 mb-3">
            <label for="">Email</label>
            <input type="text" class="form-control" [ngClass]="{'invalid': email.touched && email.errors}" [formControl]="email">
            <div *ngIf="email.touched && email.errors" class="error">
                Please enter email.
            </div>
        </div>
        <div class="col-6 mb-3">
            <label for="">Phone Number</label>
            <input type="number" class="form-control" [ngClass]="{'invalid': mobile.touched && mobile.errors}" [formControl]="mobile">
            <div *ngIf="mobile.touched && mobile.errors" class="error">
                Please enter phone number.
            </div>
        </div>
    </form>
    <div class="row btn-container float-right">
        <button class="btn btn-primary mr-3" (click)="submit()">{{this.id ? 'Edit' : 'Create'}}</button>
        <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>
</div>